*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.fs-7 {
  font-size: 0.80rem !important;
}
/* .navbar{
    position: fixed;
    z-index: 3;
    top: 0;
} */
.navbar-toggler{
   border: none;
}
.offcanvas-backdrop.show {
    opacity: 0;
    width: auto;
     width: 350px;
    height: 250px;
}
.offcanvas{
    position: absolute;
    top: 70px;
    left: 0;
    width: 350px;
    height: 250px;
}
.navbar-toggler{
    padding-right: 0;
}
.home{
    color: #ff6468 !important;
    text-decoration: underline !important;
}
.lienh:hover, .liensh:hover, .lienp:hover, .lienc:hover{
    color: #ff6468 !important;
    text-decoration: underline !important;
}

hr{
    background-color: #ff6468 !important ;
    border: none;
    width: 50px !important;
    height: 2px;
}
.fo{
    color: #ff6468;
}
.cla:hover{
    cursor: pointer;
    background-color: #fff;
}
.cla:hover .ico{
    background-color: #ff6468;
    color: #fff;
}
.ico:hover{
    background-color: #ff6468;
}
.fo1{
    background-color: #F2C1C2;
}
.fi{
    background-color: #f8f3ef;
}
.fou{
    background-color: #ebebe8;
}
.badge{
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 400px;
    top: 10px;
    right: 105px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;

}
.badge1{
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 400px;
    top: 10px;
    right: 65px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    color: #fff;
    /* font-size: 14px; */
}
.ins{
    width:100px;
    height: 100px;
}
.ins img{
    width: 100%;
    height: 100%;
}
.head{
    /* height: 65vh !important; */
    background-color: #f4f3ed;
}
.bg_1{
    background-color: #dde8e6;
}
.bg_2{
    background-color: #f1cbd0;
}
.butt{
    color: #fff;
    background-color: #ff6468;
    border: none;
    width: 60%;
    
}
.but3{
    color: #fff;
    background-color: #ff6468;
    border: none;
    width: 100%;
    
}
.butt2{
    color: #fff;
    background-color: #05df71;
    border: none;
    width: 100%;
    
}
.card-img{
    width: 80%;
    height: 200px;
}
.icon-wrap{
    width: 50px;
    height: 50px;
    border-radius: 400px;
    background-color: #fff;
}
.bg-livr{
    background-color: #f5f5f5;
}.bg-livr img{
    width: 35%;
    height: 70%;
}
.cot img{
    width: 70px;
   
}
.li img{
    width: 40%;
}
.bas img{
    width: 80%;
    height: 270px;
}
/* .blog img{
    width: 170px;
}
.blog2{
    height: 300px;
    object-fit: cover;
} */

.equal-card {
    height: 100%;               
    min-height: 420px;          
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog img,
.blog2,
.cot img {
    object-fit: cover;
}





@media (min-width: 576px) {
  .w-sm-75 { width: 75% !important; }
}

/* md ≥ 768px */
@media (min-width: 768px) {
  .w-md-50 { width: 50% !important; }
  .d-md-none{ opacity: 0;}
}

/* lg ≥ 992px */
@media (min-width: 992px) {
  .w-lg-25 { width: 25% !important; }
  .w-lg-100 { width: 100% !important;}
}