*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.fs-7 {
  font-size: 0.80rem !important;
}
.navbar{
    /* position: absolute; */
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: #fff;
}
.navbar-toggler{
   border: none;
}
.offcanvas-backdrop.show {
    opacity: 0;
}
.offcanvas{
    position: absolute;
    top: 70px;
    left: 0;
    width: 300px;
    height: 250px;
}
.post{
    color: #ff6468 !important;
    text-decoration: underline !important;
}
.lienh:hover, .liensh:hover, .lienp:hover, .lienc:hover{
    color: #ff6468 !important;
    text-decoration: underline !important;
}

.badge{
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 400px;
    top: 10px;
    right: 105px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;

}
.badge1{
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 400px;
    top: 10px;
    right: 65px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    color: #fff;
    /* font-size: 14px; */
}
.main{
    margin-top: 50px;
}
.fo{
    color: #ff6468;
}
.img-box {
    width: 100%;
    height: 250px;          /* tu peux changer la hauteur */
    overflow: hidden;
    /* border-radius: 10px;   */
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* REND TOUTES LES IMAGES IDENTIQUES */
}
hr{
    background-color: #ff6468 !important ;
    border: none;
    width: 50px !important;
    height: 2px;
}
.un{
    cursor: pointer;
    background-color: #ff6468;
    color: #fff;
}
.form-control{
    border: none;
}
.sale{
     /* height: 400px; */
    overflow: hidden !important;
}
.sale img{
    object-fit: fill;
   
}
.sale img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.bg-in{
    border: none;
    background-color: #f3f4f6;
}
.but3{
    color: #fff;
    background-color: #ff6468;
    border: none;
    /* width: 100%; */
    
}
.ins{
    width:100px;
    height: 100px;
}
.ins img{
    width: 100%;
    height: 100%;
}

.bg-img {
    max-width: 100%;
    min-width: 100%;
}
main {
    margin-top: 60px;
}

.hov:hover{
    cursor: pointer;
    background-color: #ff6468;
    color: #fff;
}


@media (max-width: 425px) {
    main {
        margin-top: 50px;
    }
    .hero{
        height: 200px;
    }

}

@media (min-width: 320px) {
  .w-sm-75 { width: 75% !important; }
  .w-sm-100 { width: 100 !important;}
}
@media (min-width: 576px) {
  .w-sm-75 { width: 75% !important; }
  .w-sm-100 { width: 100 !important;}
}

/* md ≥ 768px */
@media (min-width: 768px) {
  .w-md-50 { width: 50% !important; }
  .w-md-100 { width: 100% !important;}
  .h-md-100 { height: 100%;}
  .d-md-none{ opacity: 0;}
  .img-box {
    width: 100%;
    height: 250px;          /* tu peux changer la hauteur */
    overflow: hidden;
    /* border-radius: 10px;   */
}
}

/* lg ≥ 992px */
@media (min-width: 992px) {
  .w-lg-25 { width: 25% !important; }
}