*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.fs-7 {
  font-size: 0.80rem !important;
}
.navbar{
    /* position: absolute; */
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: #fff;
}
.navbar-toggler{
   border: none;
}
.offcanvas-backdrop.show {
    opacity: 0;
}
.offcanvas{
    position: absolute;
    top: 70px;
    left: 0;
    width: 300px;
    height: 250px;
}
.shop{
    color: #ff6468 !important;
    text-decoration: underline !important;
}
.lienh:hover, .liensh:hover, .lienp:hover, .lienc:hover{
    color: #ff6468 !important;
    text-decoration: underline !important;
}

.badge{
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 400px;
    top: 10px;
    right: 105px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;

}
.badge1{
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 400px;
    top: 10px;
    right: 65px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    color: #fff;
    /* font-size: 14px; */
}
.main{
    margin-top: 50px;
}
.fo{
    color: #ff6468;
}
.un{
    cursor: pointer;
    background-color: #ff6468;
    color: #fff;
}
.uno:hover{
    cursor: pointer;
    background-color: #ff6468;
    color: #fff;
}
.re{
    background-color: #ff6468;
}
hr{
    background-color: #ff6468 !important ;
    border: none;
    width: 50px !important;
    height: 2px;
}
.form-control{
    border: none;
}
.ins{
    width:100px;
    height: 100px;
}
.ins img{
    width: 100%;
    height: 100%;
}
.bg-in{
    border: none;
    background-color: #f3f4f6;
}
.bg-img {
    max-width: 100%;
    min-width: 100%;
}
main {
    margin-top: 60px;
}
.hov:hover{
    cursor: pointer;
    background-color: #ff6468;
    color: #fff;
}


@media (max-width: 425px) {
    main {
        margin-top: 50px;
    }
    .hero{
        height: 200px;
    }

}

